@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

:root{
  --color-default:#515255;
  --color-second:#0067ac;
  --color-white:#fff;
  --color-body:#e4e9f7;
  --color-light:#e0e0e0;
}


*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
}

.sidebar{
  min-height: 100vh;
  width: 78px;
  padding: 6px 14px;
  z-index: 99;
  background-color: var(--color-default);
  transition: all .5s ease;
  position: fixed;
  top:0;
  left: 0;
}

.sidebar.open{
  width: 250px;
}

.sidebar .logo_details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo_details .icon{
  opacity: 0;
  transition: all 0.5s ease ;
}



.sidebar .logo_details .logo_name{
  color:var(--color-white);
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  transition: all .5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name{
  opacity: 1;
 
}



.sidebar .logo_details #btn{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
}

.sidebar.open .logo_details #btn{
  text-align: right;
}

.sidebar i{
  color:var(--color-white);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
}

.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

.sidebar li{
  position: relative;
  margin:8px 0;
  list-style: none;
}

.sidebar li .tooltip{
  position: absolute;
  top:-20px;
  left:calc(100% + 15px);
  z-index: 3;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top:50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip{
  display: none;
}

.sidebar input{
  font-size: 15px;
  color: var(--color-white);
  font-weight: 400;
  outline: none;
  height: 35px;
  width: 35px;
  border:none;
  border-radius: 5px;
  background-color: var(--color-second);
  transition: all .5s ease;
}

.sidebar input::placeholder{
  color:var(--color-light)
}

.sidebar.open input{
  width: 100%;
  padding: 0 20px 0 50px;
}

.sidebar .bx-search{
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  font-size: 22px;
  background-color: var(--color-second);
  color: var(--color-white);
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  transition: all .5s ease;
  z-index: 12;
}

.sidebar li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--color-white);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li a:hover::after{
  transform: scaleX(1);
  color:var(--color-default)
}

.sidebar li a .link_name{
  color:var(--color-white);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color:var(--color-default)
}

.sidebar.open li a .link_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li i{
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
}

.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom:-8px;
  padding:10px 14px;
  overflow: hidden;
  transition: all .5s ease;
}

.sidebar.open li.profile{
  width: 250px;
}

.sidebar .profile .profile_details{
  display: flex;
  align-items: center;
  flex-wrap:  nowrap;
}

.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .designation{
  font-size: 15px;
  font-weight: 400;
  color:var(--color-white);
  white-space: nowrap;
}

.sidebar li.profile .designation{
  font-size: 12px;
}

.sidebar .profile #log_out{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-second);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}

.home-section{
  position: relative;
  background-color: var(--color-body);
  min-height: 100vh;
  top:0;
  left:78px;
  width: calc(100% - 78px);
  transition: all .5s ease;
  z-index: 2;
}

.home-section .text{
  display: inline-block;
  color:var(--color-default);
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.sidebar.open ~ .home-section{
  left:250px;
  width: calc(100% - 250px);
}

#audioIcon {
    display: none; /* Esconder o ícone de áudio inicialmente */
  }
  
  .sidebar.open #audioIcon {
    display: block; /* Exibir o ícone de áudio quando o menu estiver aberto */
  }

  .sidebar i {
    font-size: 30px; /* Aumenta o tamanho dos ícones */
  }
  

.sidebar.open .logo_details .logo_name {
    font-size: 18px; /* Aumenta o tamanho do texto no menu */
  }







body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #ffffff;
    background-color: #1a1e28;
}


.area {
    width: calc(100% - 200px);
    height: 100vh;
    position: relative;
    top: 0;
    left: 72px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.context {
    position: absolute;
    text-align: center;
    color: #fff;
    z-index: 10;
}

.context h1 {
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8);
}

.context p {
    font-size: 20px;
    margin: 0;
}

button.small-button {
    background-color: transparent; 
    color: white; 
    padding: 8px 14px;
    border: 2px solid white; 
    cursor: pointer; 
    border-radius: 15px; 
    margin-top: 15px;
}

button.small-button:hover {
    background-color: #ffffffe4;
    color: rgb(0, 0, 0);
}

.circles {
    background: #1a1e28;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-duration: 22s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 30px;
    height: 30px;
    animation-duration: 16s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-duration: 25s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-duration: 14s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-duration: 28s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

main {
    background-color: #1a1e28;
    margin-left: 72px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.concept, #dicas {
    width: 45%;
    transition: height 0.3s ease, width 0.3s ease;
}

.concept.expanded {
    width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

section {
    color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;
}

section:hover {
    transform: scale(1.05);
}

button {
    background-color: transparent; 
    color: white; 
    padding: 10px 15px;
    border: 2px solid white; 
    cursor: pointer; 
    border-radius: 20px; 
    margin-top: 15px;
}
button:hover {
    background-color: #ffffffde;
    color: black;
}

.pensador {
    position: relative;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pensador section:hover {
    transform: none;
}

section:hover {
    transform: scale(1.05);
}

.pensador section {
    transform: none;
}


.carousel {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.carousel-slide {
    display: none;
    text-align: center;
}

.carousel-slide img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 250px;
    border-radius: 5px;
}

.carousel-slide p {
    margin-top: 10px;
    color: white;
    font-style: italic;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    margin: 0 5px; 
}

.carousel-button.prev {
    left: 5px; 
}

.carousel-button.next {
    right: 5px; 
}
