body {
    margin: 0;
    padding: 0;
    background-color: #1d2634;
    color: #9e9ea4;
    font-family: 'Montserrat', sans-serif;
  }
  
  .material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }
  
  /* ---------- HEADER ---------- */
  .header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  }
  
  .menu-icon {
    display: none;
  }
  
  /* ---------- SIDEBAR ---------- */
  
  header {
    color: white;
    padding: 10px 0;
    text-align: center;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; 
    height: 100%;
    background-color: #1a1e28; 
    padding-top: 20px;
    z-index: 1000; 
}

.sidebar-brand img {
    margin-left: 20px;
    width: 110px; 
    height: auto;
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
}

.sidebar-list li {
    margin-bottom: 20px;
}

.sidebar-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar-list li a i,
.sidebar-list li a span {
    margin-right: 10px;
    font-size: 35px; 
}

.sidebar-list li a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
  }